<mat-sidenav-container class="root-container">

  <mat-sidenav class="root-sidenav" mode="side" opened
    [class.hello-sidenav]="helloInView"
    [class.experience-sidenav]="experienceInView"
    [class.projects-sidenav]="projectsInView"
    [class.contact-sidenav]="contactInView"
    >
    <app-root-sidenav [projectsInView]="projectsInView" [contactInView]="contactInView"/>
  </mat-sidenav>

  <mat-sidenav-content
    class="root-content"
    [class.hello-background]="helloInView"
    [class.experience-background]="experienceInView"
    [class.projects-background]="projectsInView"
    [class.contact-background]="contactInView"
  >
    <app-root-content />
  </mat-sidenav-content>

</mat-sidenav-container>
