.root-container {
  width: 100%;
  height: 100%;
}

app-root-sidenav, app-root-content {
  font-family: 'Ubuntu', sans-serif;
}

.root-sidenav {
  background-color: #F3F3F3;
  border: none;
  transition: background-color 0.5s ease-in-out;
}

.root-content {
  background-color: #292929;
}

@media screen and (max-width: 1150px) {
  app-root-sidenav {
    display: none;
  }
}

.mat-sidenav-content {
  transition: background-color 0.5s ease-in-out;
}

.hello-sidenav {
  background-color: #F3F3F3;
}

.hello-background {
  background-color: #fff;
}

.experience-background {
  background-color: #F5D974;
}

.experience-sidenav {
  background-color: #C8B367;
}

.projects-background {
  background-color: #7B342F;
}

.projects-sidenav {
  background-color: #6C3733;
}

.contact-background {
  background-color: #5B3893;
}

.contact-sidenav {
  background-color: #543A7E;
}
