.root-container {
  width: 100%;
  height: 100%;
}

app-root-sidenav, app-root-content {
  font-family: 'Ubuntu', sans-serif;
}

.root-sidenav {
  background-color: #F3F3F3;
  border: none;
}

.root-content {
  background-color: #292929;
}

@media screen and (max-width: 800px) {
  app-root-sidenav {
    display: none;
  }
}

.mat-sidenav-content {
  transition: background-color 0.5s ease-in-out;
}

.hello-background {
  background-color: #fff;
}

.experience-background {
  background-color: #F5D974;
}

.projects-background {
  background-color: #7B342F;
}

.contact-background {
  background-color: #5B3893;
}
