@mixin section-template($title-color) {
  .section-container {
    width: 100%;
    height: 100%;
  }

  .section-title {
    color: $title-color;
    font-size: 64px;
    font-weight: normal;
    text-align: center;
  }
}
