@import'../root-content/section-template';

$title-color: #000;

@include section-template($title-color);

.experience-wrap {
  display: flex;
  flex-flow: row wrap;
}

.right-section {
  position: relative;
  top: 300px;
}

@media screen and (max-width: 1520px) {
  .right-section {
    position: static;
    top: 0px;
  }
}

@media screen and (max-width: 1520px) {
  .experience-wrap {
    justify-content: center;
  }
}
