@import'../root-content/section-template';

$title-color: #000;

@include section-template($title-color);

.experience-wrap {
  display: flex;
  flex-flow: row wrap;
}

@media screen and (max-width: 1150px) {
  .experience-wrap {
    justify-content: center;
  }
}
